apiVersion: v1
kind: Secret
metadata:
  name: argocd-secret
  namespace: argocd
type: Opaque
stringData:
  admin.password: "{{ argocd_admin_password_bcrypt }}"
  admin.passwordMtime: "{{ argocd_password_mtime }}"

  accounts.demo-deployer.password: "{{ demo_deployer_password_bcrypt }}"
  accounts.demo-deployer.passwordMtime: "{{ argocd_password_mtime }}"

  accounts.readonly-user.password: "{{ readonly_user_password_bcrypt }}"
  accounts.readonly-user.passwordMtime: "{{ argocd_password_mtime }}"
