---
- name: Install ArgoCD 
  hosts: localhost
  connection: local
  gather_facts: true
  vars:
    kubeconfig: "../kubeconfig"
    namespace: "argocd"

  tasks:
    - name: Create argocd namespace
      k8s:
        kubeconfig: "{{ kubeconfig }}"
        state: present
        kind: Namespace
        name: "{{ namespace }}"
    
    - name: ArgoCD install
      k8s:
        kubeconfig: "{{ kubeconfig }}"
        state: present
        src: "{{ item }}"
        apply: yes
        namespace: "{{ namespace }}"
      loop: 
        - ../argocd/install/install-argocd.yaml
        - ../argocd/rbac/argocd-rbac-cm.yaml

    - name: Wait for ArgoCD deployments to become available (kubectl wait)
      vars:
        argocd_deployments:
          - argocd-applicationset-controller
          - argocd-dex-server
          - argocd-notifications-controller
          - argocd-redis
          - argocd-repo-server
          - argocd-server
      loop: "{{ argocd_deployments }}"
      loop_control:
        label: "{{ item }}"
      shell: 
        kubectl -n {{ namespace }} wait --for=condition=available deployment/{{ item }} --timeout=300s
      register: wait_out
      environment:
        KUBECONFIG: "{{ kubeconfig }}"
      failed_when: wait_out.rc != 0
      changed_when: false
      
    - name: Get initial admin secret 
      k8s_info:
        kubeconfig: "{{ kubeconfig }}"
        api_version: v1
        kind: Secret
        namespace: "{{ namespace }}"
        name: argocd-initial-admin-secret
      register: initial_admin_secret
      changed_when: false

    - name: Set initial admin password fact
      set_fact:
        initial_admin_password: "{{ initial_admin_secret.resources[0].data.password | b64decode }}"

    - name: Show initial admin password 
      debug:
        msg: "Initial admin password: {{ initial_admin_password }}"
      when: initial_admin_password is defined

    - name: Apply repo and application
      k8s:
        kubeconfig: "{{ kubeconfig }}"
        state: present
        src: "../argocd/app/repo-app.yaml"
        apply: yes
        namespace: "{{ namespace }}"
        